:root {
    --white: #f0f0f0;
    --red: #bd3144;
    --black: #2f3133;
    --blue: #45567d;
    --dark-blue: #303841;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: green;
}

a {
    color: inherit;
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 75px;
    background-color: var(--red);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 2px rgba(0, 0, 0, 0.3);
}

@media (orientation: portrait) {
    header {
        justify-content: center;
    }
}

header > nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    font-size: 1.3rem;
    margin-right: 30px;
    height: 100%;
}

header > nav > a {
    height: 100%;
    color: var(--white);
    display: flex;
    align-items: center;
    padding: 20px;
}

header > nav > a:hover {
    background-color: var(--dark-blue);
    transition-duration: 0.5s;
}

main {
    margin-top: 75px;
}

#about {
    background-color: var(--black);
    width: 100%;
    height: calc(100vh - 75px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#about > h1 {
    color: var(--white);
    font-size: 3rem;
}

#about > p {
    color: var(--red);
    font-size: 1.5rem;
    font-weight: 300;
    font-style: italic;
}

#work {
    background-color: var(--blue);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 70px;
    padding: 100px;
}

#work > h2 {
    color: var(--white);
    text-decoration: underline;
    text-align: center;
    font-size: 2rem;
}

#projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 30px;
    width: 75%;
}

.project:hover {
    cursor: pointer;
}

.project > img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.project > h4 {
    width: 300px;
    padding: 20px;
    background-color: var(--dark-blue);
    color: var(--white);
    text-align: center;
}

.project > h4:before {
    content: "< ";
    color: var(--dark-blue);
    transition-duration: 0.1s;
}

.project > h4:after {
    content: " />";
    color: var(--dark-blue);
    transition-duration: 0.3s;
}

.project:hover > h4:before {
    color: var(--white);
    transition-duration: 0.3s;
}

.project:hover > h4:after {
    color: var(--white);
    transition-duration: 0.3s;
}

#work > #show-all {
    padding: 20px;
    margin: 0 auto;
    background-color: var(--dark-blue);
    color: var(--white);
    white-space: nowrap;
    font-weight: 700;
    cursor: pointer;
    transition-duration: 0.2s;
}

#work > #show-all:hover {
    background-color: var(--red);
    transition-duration: 0.3s;
}

#work > #show-all > i {
    margin-left: 10px;
}

#contact {
    background-color: var(--dark-blue);
    color: var(--white);
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

#contact > h1 {
    font-size: 3rem;
    text-align: center;
}

#contact-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style-type: none;
    font-size: 1.2rem;
    flex-wrap: wrap;
}

#contact-links > li {
    transform: translateY(-5px);
    transition-duration: 0.2s;
}

#contact-links > li:hover {
    transform: translateY(5px);
    transition-duration: 0.5s;
}

#contact-links > li > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
}

footer {
    background-color: var(--dark-blue);
    color: var(--white);
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 4px solid var(--red);
}

